
<div class="showbox">
	<div class="input-group">
		<input class="form-control" placeholder="Neighborhood">
		<input class="form-control" placeholder="Popular places">
		<input class="form-control" placeholder="Filter by...">
		<button class="btn btn-default button-control">Search</button>
		<button class="btn btn-default button-control listhide">Show List</button>
	</div>
	<div class="PlaceDisplay">
		<!-- Content display -->
	</div>
</div>

<!--<my-listing [listings]='listings'></my-listing>-->

<my-map></my-map>